
fastapi
uvicorn
pydantic
pydantic-settings
opencv-python
onnxruntime
numpy
# psycopg2-binary  # Not needed for local SQLite setup
# boto3  # Not needed for local file storage
pyyaml
requests
jinja2
python-multipart
flask
ultralytics
torch
torchvision
python-dotenv

